<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <div class="container-fluid">
        <h1 align = "center"><b>COMPUTER SCIENCE ENGINEERING</b></h1>
        <h2><b><u>COMPUTER NETWORKS</u> :</b></h2>
        <P>A computer network is a group of computers that use a set of common communication protocols
             over digital interconnections for the purpose of sharing resources located on or
              provided by the network nodes. The interconnections between nodes are formed from a
               broad spectrum of telecommunication network technologies, based on physically wired
               , optical, and wireless radio-frequency methods that may be arranged in a variety of network topologies.</P>
               <p>The nodes of a computer network may include personal computers, servers, networking hardware, or other
                    specialised or general-purpose hosts. They are identified by hostnames and network addresses.
                     Hostnames serve as memorable labels for the nodes, rarely changed after initial assignment.
                      Network addresses serve for locating and identifying the nodes by communication protocols 
                      such as the Internet Protocol.  Computer networks may be classified by many criteria, including the
                       transmission medium used to carry signals, bandwidth, communications protocols to organize network
                        traffic, the network size, the topology, traffic control mechanism, and organizational intent.</p>
                        <p>Computer networks support many applications and services, such as access to the World Wide Web,
                             digital video, digital audio, shared use of application and storage servers, printers, 
                             and fax machines, and use of email and instant messaging applications.</p>
                             <p>A computer network extends interpersonal communications by electronic means with 
                                 various technologies, such as email, instant messaging, online chat, voice and video
                                  telephone calls, and video conferencing. A network allows sharing of network and
                                   computing resources. Users may access and use resources provided by devices on the network,
                                    such as printing a document on a shared network printer or use of a shared storage device. 
                                    A network allows sharing of files, data, and other types of information giving authorized
                                     users the ability to access information stored on other computers on the network.
                                      Distributed computing uses computing resources across a network to accomplish tasks</p>
    </div>
    <div class="container-fluid">
        <h3>Network topology :</h3>
        <p>Network topology is the layout, pattern, or organizational hierarchy of the interconnection of 
            network hosts, in contrast to their physical or geographic location. Typically, most diagrams
             describing networks are arranged by their topology. The network topology can affect throughput, 
             but reliability is often more critical.[citation needed] With many technologies, such as bus or star
              networks, a single failure can cause the network to fail entirely. In general, the more interconnections 
              there are, the more robust the network is; but the more expensive it is to install.</p>
              <ul>
                  <li><b>Bus network:</b> all nodes are connected to a common medium along this medium. This was the
                       layout used in the original Ethernet, called 10BASE5 and 10BASE2. This is still a common 
                       topology on the data link layer, although modern physical layer variants use point-to-point links instead.</li>
                       <li><b>Star network:</b> all nodes are connected to a special central node. This is the typical layout found in a Wireless LAN,
                            where each wireless client connects to the central Wireless access point.</li>
                            <li><b>Ring network:</b> each node is connected to its left and right neighbour node, 
                                such that all nodes are connected and that each node can reach each other node by traversing nodes
                                 left- or rightwards. The Fiber Distributed Data Interface (FDDI) made use of such a topology.</li>
              </ul>
              <p>The physical layout of the nodes in a network may not necessarily reflect the network topology. As an example,
                   with FDDI, the network topology is a ring, but the physical topology is often a star, because all neighboring
                   connections can be routed via a central physical location. Physical layout is not completely irrelevant,
                    however, as common ducting and equipment locations can represent single points of failure due to issues 
                    like fires, power failures and flooding.</p>
    </div><br><br>
    <div class="footer" align = "center">
        <b>GaTehub</b> is optimized for learning and training. Examples might be simplified to improve reading and learning. Tutorials,
         references, and examples are constantly reviewed to avoid errors, but we cannot warrant full correctness of all content.
          While using W3Schools, you agree to have read and accepted our terms of use, cookie and privacy policy.
          <p id="p1">Copyright 1999-2021 by Refsnes Data. All Rights Reserved .
              <br>GaTehub is Powered by Gatehub.eng</p>
    </div>
</body>
