
p{
    font-size: larger;
    font-weight: bold;
    color: rgb(243, 243, 243);
}
h3{
    color: rgb(0, 114, 0);
}
ul{
    color: rgb(80, 78, 78);
    font-size: larger;
    font-weight: bold;
}
h2{
    color: blanchedalmond;
    font-weight: bolder;
}