<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <div class="container-fluid">
        <h1 align = "center"><b>ELECTRONICS AND COMMUNICATION ENGINEERING</b></h1>
        <h2><b><u>DIGITAL COMMUNICATIONS</u> :</b></h2>
        <p>Digital communication is the process of devices communicating information digitally. This tutorial helps the 
            readers to get a good idea on how the signals are digitized and why digitization is needed. By the completion
             of this tutorial, the reader will be able to understand the conceptual details involved in digital communication</p>
             <p>digital communication is a mode of communication where the information or the thought is encoded digitally as discreet
                  signals and electronically transferred to the recipients. Digital communication is one of the most commonly used mode
                   of communication in the current scenario. Organizations generally rely on this mode for all their business communications.</p>
                  <p>The conventional methods of communication used analog signals for long distance communications, which suffer
                       from many losses such as distortion, interference, and other losses including security breach.

                    In order to overcome these problems, the signals are digitized using different techniques. 
                    The digitized signals allow the communication to be more clear and accurate without losses.
                    
                    The following figure indicates the difference between analog and digital signals. The digital 
                    signals consist of 1s and 0s which indicate High and Low values respectively.</p>
                   <h3>TYPES OF DIGITAL COMMUNICATIONS :</h3>
                   <ul>
                       <li>Pulse code modulation:</li>
                       <p>The message signal is the signal which is being transmitted for communication and the carrier signal
                            is a high frequency signal which has no data, but is used for long distance transmission. ...
                             A signal is pulse code modulated to convert its analog information into a binary sequence, i.e.,
                              1s and 0s.</p>
                        <li>Sampling:</li>
                        <p>In signal processing, sampling is the reduction of a continuous-time signal to a discrete-time signal.
                             A common example is the conversion of a sound wave (a continuous signal) to a sequence of samples
                              (a discrete-time signal). A sample is a value or set of values at a point in time and/or space.</p>
                        <li>Delta modulation:</li>
                        <p>A delta modulation (DM or Δ-modulation) is an analog-to-digital and digital-to-analog signal conversion
                             technique used for transmission of voice information where quality is not of primary importance.
                              DM is the simplest form of differential pulse-code modulation (DPCM) where the difference between
                               successive samples is encoded into n-bit data streams. In delta modulation, the transmitted data are
                                reduced to a 1-bit data stream</p>
                   </ul>
                   <h3>Advantages :</h3>
                   <p>The effect of distortion, noise, and interference is much less in digital signals as they are less affected.</p>
                   <p>The signal is un-altered as the pulse needs a high disturbance to alter its properties, which is very difficult.</p>
                   <p>Digital circuits are easy to design and cheaper than analog circuits</p>
                   <p>The hardware implementation in digital circuits, is more flexible than analog.</p>
                   <p>Signal processing functions such as encryption and compression are employed in digital circuits to maintain the secrecy of the information.</p>
                   <br>
                   <div class="footer" align = "center">
                    <b>GaTehub</b> is optimized for learning and training. Examples might be simplified to improve reading and learning. Tutorials,
                     references, and examples are constantly reviewed to avoid errors, but we cannot warrant full correctness of all content.
                      While using W3Schools, you agree to have read and accepted our terms of use, cookie and privacy policy.
                      <p id="p1">Copyright 1999-2021 by Refsnes Data. All Rights Reserved .
                          <br>GaTehub is Powered by Gatehub.eng</p>
                </div>
    </div>