<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <div class="container-fluid">
        <h1 align = "center"><b>ELECTRONICS AND COMMUNICATION ENGINEERING</b></h1>
        <h2><b><u>ELECTRONIC DEVICES AND CIRCUITS</u> :</b></h2>
        <p>Electronics comprises the physics, engineering, technology and applications
             that deal with the emission, flow and control of electrons in vacuum and matter.
              It uses active devices to control electron flow by amplification and rectification,
               which distinguishes it from classical electrical engineering which uses passive effects
                such as resistance, capacitance and inductance to control current flow.</p>
                <p>Electronics has had a major effect on the development of modern society.
                     The identification of the electron in 1897, along with the subsequent 
                     invention of the vacuum tube which could amplify and rectify small 
                     electrical signals, inaugurated the field of electronics and the electron age.
                      This distinction started around 1906 with the invention by Lee De Forest of the
                       triode, which made electrical amplification of weak radio signals and audio signals
                        possible with a non-mechanical device. Until 1950, this field was called "radio technology"
                         because its principal application was the design and theory of radio transmitters, receivers, and vacuum tubes.</p>
                        <br> <p>Electronics is widely used in information processing, telecommunication, and signal processing.
                              The ability of electronic devices to act as switches makes digital information-processing possible.
                               Interconnection technologies such as circuit boards, electronics packaging technology, and other 
                               varied forms of communication infrastructure complete circuit functionality and transform the
                                mixed electronic components into a regular working system, called an electronic system; examples
                                 are computers or control systems. An electronic system may be a component of another engineered 
                                 system or a standalone device. As of 2019 most electronic devices[3] use semiconductor
                                  components to perform electron control. Commonly, electronic devices contain circuitry
                                   consisting of active semiconductors supplemented with passive elements; such a circuit
                                    is described as an electronic circuit. Electronics deals with electrical circuits that
                                     involve active electrical components such as vacuum tubes, transistors, diodes, integrated 
                                     circuits, optoelectronics, and sensors, associated passive electrical components, and 
                                     interconnection technologies. The nonlinear behaviour of active components and their
                                      ability to control electron flows makes amplification of weak signals possible.</p>
    </div>
    <h3><u> Electronic devices</u> :</h3>
    <p>An electronic component is any physical entity in an electronic system used to affect the electrons or their
         associated fields in a manner consistent with the intended function of the electronic system. Components are
          generally intended to be connected together, usually by being soldered to a printed circuit board (PCB), to
           create an electronic circuit with a particular function (for example an amplifier, radio receiver, or oscillator).
            Components may be packaged singly, or in more complex groups as integrated circuits. Some common electronic components
             are capacitors, inductors, resistors, diodes, transistors, etc. Components are often categorized as active
              (e.g. transistors and thyristors) or passive (e.g. resistors, diodes, inductors and capacitors).</p>
              <br><br><br>
        <div class="footer" align = "center">
                <b>GaTehub</b> is optimized for learning and training. Examples might be simplified to improve reading and learning. Tutorials,
                 references, and examples are constantly reviewed to avoid errors, but we cannot warrant full correctness of all content.
                  While using W3Schools, you agree to have read and accepted our terms of use, cookie and privacy policy.
                  <p id="p1">Copyright 1999-2021 by Refsnes Data. All Rights Reserved .
                      <br>GaTehub is Powered by Gatehub.eng</p>
            </div>