<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <div class="container-fluid">
        <h1 align = "center"><b>ELECTRONICS AND COMMUNICATION ENGINEERING</b></h1>
        <h2><b><u>ANALOG COMMUNICATIONS</u> :</b></h2>
        <p>The communication based on analog signals and analog values is known as Analog Communication
            . This tutorial provides knowledge on the various modulation techniques that are useful in
             Analog Communication systems. By the completion of this tutorial, the reader will be able to
              understand the conceptual details involved in analog communication.</p>
              <p>The word communication arises from the Latin word commūnicāre, which means
                   “to share”. Communication is the basic step for exchange of information.

                For example, a baby in a cradle, communicates with a cry when she needs her mother.
                 A cow moos loudly when it is in danger. A person communicates with the help of a language.
                  Communication is the bridge to share.
                
                Communication can be defined as the process of exchange of information through means such 
                as words, actions, signs, etc., between two or more individuals.</p>
                <p>An analog communication system, roughly speaking, looks like what
                     is drawn in Figure 12.1. You can see that the information signal x(t)
                      comes in and is mapped by a modulator into a new signal s(t) ready
                       to be sent over the channel. And that is all that happens at the
                        transmitter side–no source coder, no channel coding. At the receiver side,
                         the signal that arrives from the channel is picked up, and it goes through a
                          demodulator, which returns it to a best guess of the original information signal. 
                          That's i–no channel decoder, no source decoder. So, all we'll do in this chapter
                           is study the modulator and demodulator.</p>
    </div>
    <div class="container-fluid">
        <a href="#demo" class="btn btn-primary" data-toggle="collapse">Modulation</a>
        <div id="demo" class="collapse">
           <p> A message carrying a signal has to get transmitted over a distance and for it to establish a reliable communication,
             it needs to take the help of a high frequency signal which should not affect the original characteristics of the
              message signal.</p>
              <p>The characteristics of the message signal, if changed, the message contained in it also alters.
                   Hence, it is a must to take care of the message signal. A high frequency signal can travel up to a longer 
                   distance, without getting affected by external disturbances. We take the help of such high frequency signal
                    which is called as a carrier signal to transmit our message signal. Such a process is simply called as Modulation.</p>
                    <p>Modulation is the process of changing the parameters of the carrier signal, in accordance with the instantaneous values 
                        of the modulating signal.</p>
                        <h3>Need for modulation</h3>
                        <p>Baseband signals are incompatible for direct transmission. For such a signal, to travel longer distances, 
                            its strength has to be increased by modulating with a high frequency carrier wave, which doesn’t affect
                             the parameters of the modulating signal.</p>
        </div>
      </div>

      <div class="container-fluid">
        <a href="#nikh" class="btn btn-info" data-toggle="collapse">DeModulation</a>
        <div id="nikh" class="collapse">
           <p> Demodulation is defined as extracting the original information-carrying signal from a modulated carrier wave. 
            A demodulator is an electronic circuit that is mainly used to recover the information content from the modulated
             carrier wave. There are different types of modulation and so are demodulators. The output signal via a demodulator 
             may describe the sound, images, or binary data.The process of separating the original information or SIGNAL from 
             the MODULATED CARRIER. In the case of AMPLITUDE or FREQUENCY MODULATION it involves a device, called a demodulator 
             or detector</p>
             <p>In the demodulation process the audio or other signal carried by amplitude variations on the carrier is extracted from the overall signal to appear at the output.

                As the most common use for amplitude modulation is for audio applications, the most common output is the audio.
                 This may be broadcast entertainment for broadcast reception, and for two way radio communications, it is often 
                 used for land communications for aeronautical associated applications - often within walkie talkies.</p>

        </div>
      </div>
      <div class="footer" align = "center">
        <b>GaTehub</b> is optimized for learning and training. Examples might be simplified to improve reading and learning. Tutorials,
         references, and examples are constantly reviewed to avoid errors, but we cannot warrant full correctness of all content.
          While using W3Schools, you agree to have read and accepted our terms of use, cookie and privacy policy.
          <p id="p1">Copyright 1999-2021 by Refsnes Data. All Rights Reserved .
              <br>GaTehub is Powered by Gatehub.eng</p>
    </div>
</body>
                           