<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <div class="container-fluid">
        <h1 align = "center"><b>COMPUTER SCIENCE ENGINEERING</b></h1>
        <h2><b><u>COMPUTER ARCHITECTURE AND ORGANIZATION</u></b></h2>
        <P>In Computer Science Engineering (CSE), Computer Organization and
             Architecture is a set of rules that describe the capabilities and programming model of a computer</P>
        <P>The subject includes Machine instructions and addressing modes, ALU, Data‐path, and control unit,
             Instruction pipelining, Memory hierarchy: cache, Main memory, Secondary storage, and I/O interface
              (Interrupt and DMA mode) with a weightage of 6-9 marks.</P>
              <p>Computer Organization and Architecture is the study of internal working, structuring and
                   implementation of a computer system. Architecture in computer system, same as anywhere else,
                    refers to the externally visual attributes of the system. Externally visual attributes, here
                    in computer science, mean the way a system is visible to the logic of programs (not the human eyes!).
                     Organization of computer system is the way of practical implementation which results in realization 
                     of architectural specifications of a computer system.[1] In more general language, Architecture of
                      computer system can be considered as a catalog of tools available for any operator using the system,
                       while Organization will be the way the system is structured so that all those cataloged tools can be
                        used, and that in an efficient fashion.</p>
    </div>
                        <div class="container-fluid">
                            <h3><u>Subjects of Specialization</u> :</h3>
                            <ul>
                                <li>IAS Computer</li>
                                <li>Memory Organisation</li>
                                <li>Input/Output Unit</li>
                                <li>Control Unit</li>
                            </ul>
                        </div>
                        <div class="container-fluid">
                            <h4><u>IAS Computer</u></h4>
                            <p>IAS computer is the upgraded version of the ENIAC machine. IAS was designed by von Neuman
                                 and was designed with the concept of stored-program, which allowed the machine operator
                                  to store the program along with its input and output into some memory location, but in 
                                  ENIAC the program had to be manually entered.</p>
                            <h4><u>Memory Organisation</u></h4>
                            <ul>
                                <li>RAM (random access memory)</li>
                                <li>ROM ( read only memory)</li>
                                <li>Computer</li>
                            </ul>
                        </div>
<br>
                        <div class="footer" align = "center">
                            <b>GaTehub</b> is optimized for learning and training. Examples might be simplified to improve reading and learning. Tutorials,
                             references, and examples are constantly reviewed to avoid errors, but we cannot warrant full correctness of all content.
                              While using W3Schools, you agree to have read and accepted our terms of use, cookie and privacy policy.
                              <p id="p1">Copyright 1999-2021 by Refsnes Data. All Rights Reserved .
                                  <br>GaTehub is Powered by Gatehub.eng</p>
                        </div>
   
</body>

             