<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <br>
    <h1 align = "center"><strong>GaTeHUb.eNg</strong></h1>

    <nav class="bg-dark navbar-dark">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" routerLink="HOME"><B>HOME</B></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="cse" id="navbardrop" data-toggle="dropdown">
              CSE
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="cse/cao">CAO</a>
              <a class="dropdown-item" routerLink="cse/os">OS</a>
              <a class="dropdown-item" routerLink="cse/cn">CN</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="ece" id="navbardrop" data-toggle="dropdown">
              ECE
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="ece/edc">EDC</a>
              <a class="dropdown-item" routerLink="ece/ac">AC</a>
              <a class="dropdown-item" routerLink="ece/dc">DC</a>
              
            </div>
          </li>
          
          <li class="nav-item" id="nl">
            <a class="nav-link" routerLink="login"><B>LOGIN</B></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="register"><B>REGISTER</B></a>
          </li>
        </ul>
    </nav>
   <router-outlet></router-outlet>
 